.ui-input {
    height: 20px;
    width: 255px;
}
.ui-input-number {
    height: 20px;
    width: 25px;
}
.ui-input-textarea{
    height: 40px;
    width: 255px;
}
.ui-upper{
    text-transform: uppercase;
}
.error-container{
    padding:5px;
    overflow: auto;
    margin-bottom:5px;
    width:auto;
}
.error-container ol{
    margin: 0;
    padding: 0;
}
.error-container label{
    display:inline;
    text-align:left;
    float: left;
}
.error-container li{
    list-style: none;
    overflow: auto;
    margin-bottom: 3px;
}
.error-container li span{
    float: left;
}
.error-message{
    margin-bottom: 3px;
}
label.error{
    display: block;
}
.title-login{
    font-size: 15px;
    font-family:Arial;
    font-weight:bold;
}
input.error {
    background-color:#FBEC88;
}
div#error-login-valid, div#error-login, div#ok-login, div#error-message-validate{
    display: none;
}

fieldset{
    padding: 0 10px 10px 10px;
}

fieldset legend{
    font-weight:bold;
    padding: 0.5em;
    margin: 0px;
}

.ui-label-error{
    color: #CD0A0A;
    display: block;
}

.ui-label-error-image{
    color: #fff;
    display: block;
}

.subinput{
    padding-top: 8px;
}

.label-small{
    color:#666666;
    display:block;
    font-size:10px;
    font-weight:normal;
    text-align:right;
    width:auto;
}
.label-current{
    float: left;
    margin-right: 10px;
    width: auto;
    height: 30px;
}

.label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:120px;
    float:left;
    margin-right: 10px;
    height: 37px;
}
.input{
    width:260px;
    height: auto;
    float:left;
}

.ui-separator-vertical{
    width: 10px;
    height: 10px;
    float: left;
}