.ui-dialog .ui-dialog-buttonpane button {
    padding: 0;
}
/*#dlgImage {display: none;}*/
#dlgVideo {display: none;}
.ui-progressbar-value { background-image: url(../../images/zrad/pbar-ani.gif); }

